$main_color:#000000;
$sub_color:#000000;
$accent_color:#000000;
$main_color_font:rgba(0,0,0,0.87);
@mixin mq($breakpoint: medium) {
  @if $breakpoint == xsmall {
    @media screen and (max-width: 320px) {
      @content;
    }
  } @else if $breakpoint == small {
    @media screen and (max-width: 480px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media screen and (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media screen and (max-width: 900px) {
      @content;
    }
  }
}
/*----------------------
☆☆ key
☆☆ content
☆☆ main-block
----------------------*/
/*----------------------
key
----------------------*/
.key {
  border-top: 1px solid #ffffff;
  background-color: #232946;
  &-inner {
    display: flex;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    align-items: center;
    justify-content: space-between;
    @include mq(medium) {
      flex-direction: column;
    }
    &-lead {
      max-width: 60%;
      margin-right: 5%;
      @include mq(medium) {
        max-width: 100%;
        margin-right: 0;
      }
      .strong {
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
        @include mq(medium) {
          font-size: 24px;
        }
      }
      .desc {
        margin-top: 20px;
        color: #ffffff;
      }
    }
    .register {
      @include mq(medium) {
        margin-top: 30px;
      }
      .label {
        color: #ffffff;
        &:nth-of-type(n + 2) {
          margin-top: 15px;
        }
        input {
          display: block;
          padding: 5px;
          background-color: #ffffff;
        }
      }
      .submit {
        margin-top: 20px;
        text-align: center;
        input {
          padding: 5px 15px;
          background-color: #EEBBC3;
          border: 1px solid #EEBBC3;
          color: #ffffff;
          transition: .5s;
          &:hover {
            background-color: #ffffff;
            border: 1px solid #EEBBC3;
            color: #EEBBC3;
            transition: .5s;
          }
        }
      }
    }
  }
}
/*----------------------
content
----------------------*/
.content {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #F6F6F4;
  &-inner {
    // display: flex;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    .heading-2 {
      font-size: 24px;
      color: #575A5F;
    }
  }
  .more-link {
    margin-top: 100px;
    text-align: center;
    a {
      position: relative;
      display: inline-block;
      transition: .5s;
      &:before {
        content: '';
        position: absolute;
        height: 35px;
        width: 35px;
        top: -100%;
        left: 50%;
        border-radius: 100%;
        background-color: #232946;
        transform: translate(-50%, -50%);
        transition: .5s;
      }
      &:after {
        content: '...';
        position: absolute;
        top: -100%;
        left: 50%;
        color: #ffffff;
        transform: translate(-50%, -50%);
        transition: .5s;
      }
      &:hover {
        text-decoration: underline;
        &:before, &:after {
          transform: translate(-50%, -30%);
          transition: .5s;
        }
      }
    }
  }
}
/*----------------------
main-block
----------------------*/
.main-block {
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  @include mq(large) {
    flex-direction: column;
  }
  .least-post {
    width: 67.5%;
    display: flex;
    margin-right: 2.5%;
    align-items: center;
    flex-wrap: wrap;
    @include mq(large) {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
    }
    .post {
      width: calc((100% - 20px) / 2);
      margin-right: 20px;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
      &:nth-of-type(n + 3) {
        margin-top: 20px;
      }
      @include mq(small) {
        width: 100%;
        margin-right: 0;
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        &:nth-of-type(n + 2) {
          margin-top: 20px;
        }
      }
      a {
        box-shadow: 3px 7px 16px -5px rgba(0,27,68,.2), 0 0 3px rgba(0,21,60,.1);
        transition: .5s;
        &:hover {
          box-shadow: rgba(0, 27, 68, 0.28) 2px 30px 30px -10px;
          transition: .5s;
        }
        img {
          max-height: 211px;
          object-fit: cover;
          @include mq(medium) {
            max-height: 218px;
          }
          @include mq(small) {
            max-height: 297px;
          }
        }
      }
    }
  }
  .popular-post {
    width: 30%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    @include mq(large) {
      width: 100%;
      margin-top: 60px;
    }
    .box-title {
      padding: 5px 10px;
      background-color: #B8C1EC;
      color: #ffffff;
      font-weight: bold;
    }
    .popular-list {
      margin-top: 20px;
      counter-reset: number 0;
      li {
        position: relative;
        padding: 10px 0 10px 40px;
        transition-duration: .5s;
        a {
          &:before {
            display: flex;
            top: 50%;
            left: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #232946;
            align-items: center;
            justify-content: center;
            position: absolute;
            counter-increment: number 1;
            content: counter(number) " ";
            color: #ffffff;
            transform: translate(0, -50%);
            transition-duration: .5s;
          }
          &:hover {
            &:before {
              background-color: #ffffff;
              border: 1px solid #232946;
              transition-duration: .5s;
              color: #232946;
            }
          }
        }
      }
    }
  }
}
/*----------------------
post-action
----------------------*/
.post-action {
  position: sticky;
  display: flex;
  bottom: 20px;
  // margin-right: 20px;
  justify-content: flex-end;
  a {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #EEBBC3;
    border-radius: 100%;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
}